/* Global */
/* 페이지 전반에서 사용되는 폰트 색, 두꼐 등 한번 정의한 후, 사용(통일) */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: #389cdf;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-bg-tree: #c67e22;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default; /*text 위로 마우스 올라가도 text mouse아닌 기본으로*/
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  /* 클릭 시 나타나는 outline없애기 */
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* ----------------------------------------------- */
/* Navbar */
#navbar {
  position: fixed; /* *scroll내려도 항상 같은 자리 */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* logo 가 수직축 상가운데로 오도록*/
  color: var(--color-white);
  padding: 16px;
  background-color: transparent;
  /* *js하기 위해 바꿈 : 스크롤 적게 :투명이었다가-> 스크롤 많이 내리면: 클래스 추가 (컬러, padding)  */
  transition: all var(--animation-duration) ease-in-out;
  /* 배경색이 갑자기 변하는 문제 때문에 animation 효과 */
  z-index: 1; /* scroll할 때 project가 위로 올라오는데, navbar가 항상 위로 오도록 */
}

/* js */
#navbar.navbar--dark {
  /* 스크롤 내렸을 때 클래스 추가함(html추가하는 거 아님!!) */
  background-color: var(--color-blue);
  padding: 8px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  padding: 8px;
}
.navbar__logo img {
  width: 18px;
  height: 18px;
}

.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer; /*menu위로 마우스 올라갈 때 클릭가능하다는 걸 알려주기 위해*/

  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  /* border: 1px solid white; */
  /* border-radius: var(--size-border-radius); */

  background-color: var(--color-dark-blue);
}

.navbar__toggle-btn {
  position: absolute; /* 기존 위치에서 빠져나오게 (왼쪽상단으로 감) */
  top: 30px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none; /* 평소에는 보여지지 않음!  */
}

/* ----------------------------------------------- */
/* Home */
#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px; /* js */
  text-align: center;
}

.home__avatar {
  /* mine */
  /* width: 20%;
  height: 20%; */

  /* ellie's */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  /* background-color: none;
    border: none; */
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-orange);
  opacity: 0.9;
}

/* ----------------------------------------------- */
/* Section Common*/
/* class="section" 를 about, skills, work, testi, contact 에 공통적으로 적용 */
.section {
  padding: 50px;
  text-align: center;
  /* max-width: 1200px; */
  margin: auto;
}

/* 따로 빼와서 적용하고 싶은 곳만 따로 적용 
(abouto/ skills는 배경색이 전체 칠해져야해서 x)*/
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* ----------------------------------------------- */
/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px; /* 이거 기억하기 가운데로 내려오게 */
  font-size: 70px;
  /*background-color: yellow; /*임의로 색 주고 하기*/
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-small);
}

/* .major__icon i:hover {  
    : 동그라미 안으로 마우스 들어왔을 떈 반응 x, 아이콘 위에 올라와야만 반응오는 문제*/

/* 동그라미 전체에 들어왔을 떄, 아이콘만 달라지게 하고 싶음 */
.major__icon:hover i {
  color: var(--color-bg-tree);
  transform: rotate(-30deg) scale(1.1);
  /* transition: all 500ms ease; */
}

.major__icon i {
  transition: all var(--animation-duration) ease; /* 250-300ms : 사용자가 느끼는 바람직한 속도!*/
}

.school {
  display: flex;
  align-items: center;
}

.school__description {
  margin: 5px 16px;
  text-align: left;
}

.school .school__logo-sm {
  width: 7%;
  height: 7%;
}

.school .school__logo-kh {
  width: 7%;
  height: 7%;
}

.school__name,
.school__period {
  color: var(--color-light-grey);
}

.school__name {
  font-size: var(--font-small);
}
.school__period {
  font-size: var(--font-micro);
}

/* ----------------------------------------------- */
/* Skills */
#skills {
  background-color: var(--color-orange);
}
.skillset {
  display: flex;
  /* justify-content: center;
  margin: auto; */
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-white);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}
.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  /* width: 70%; */
  /* 이렇게 하면 모든 요소들 동일한 값이 들어감.
  html태그로 해서 json으로 동적으로 값 받아와서 적용해야함 
  -> html inline tag로 하기! */
  height: 3px;
  background-color: var(--color-bg-tree);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* ----------------------------------------------- */
/* My Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative; /* .category__count 안의 text 수평 정렬 위해 */
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* btn class가 active(All) 이거나 hover됐을 때 숫자 -> 보이게(제자리) */
.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0; /**/
}

.category__count {
  background-color: var(--color-pink);
  border-radius: 50%;
  color: var(--color-white);

  width: 24px;
  height: 24px;
  /* span 은 내용을 감싸주는 것이기 때문에 타원형이되어서 
  display inlineblock으로 바꿔야함 */
  display: inline-block;
  line-height: 24px; /* 숫자가 동그라미 가운데로 내려오게 */

  /* realative 라서 숫자가 없어도 수평정렬이 안되고 왼쪽으로 밀려있음 */
  /* position: relative; */
  position: absolute; /* .category__btn relative로 바꿔줌 */
  top: -20px;
  left: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap; /* 한줄 차지하면 밑으로 떨어지도록 랩핑해 */
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  /* 나갈 때 opacity: 0, 작아지면서 나가도록 transform scale, 밑으로 내리면서 */
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex; /**/

  justify-content: center;
  align-items: center;

  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  /* 근접한 부모노드 중 기본값인 포지션 static을 쓰지 않는 부모를 찾아감. 
  project는 지정안해서 디폴트값인 static임.
  > project 안돼서, 최고 body 위로 올라가기 때문에 
  > .project 를 position: relative로 해야함 (부모: relative, 자식: absolute)*/
  position: absolute;

  display: flex; /* 한 줄에 다 나오게 돼서 column */
  flex-direction: column; /* 옆으로 오게되니까 */
  justify-content: center; /* 중간정렬 */

  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

/**/
.project__description h3:after {
  content: "";
  display: block; /* 한줄에 하나씩 */
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  /* margin-left: -12px; 왼쪽 가운데로 오도록 반정도 */
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* ----------------------------------------------- */
/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  /**/
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* margin-right: 10px; */
}

/**/
.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px; /**/
  background-color: var(--color-white);
  border-radius: var(--size-border-radius); /**/
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

.testimonial__speech-bubble a:hover {
  color: var(--color-blue);
}

/* ----------------------------------------------- */
/* Contact */
#contact {
  background-color: var(--color-blue);
}

/* #contact * {
  color: var(--color-light-white);
  margin: 10px;
} */

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-light-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-dark-blue);
  transition: all var(--animation-duration) ease-in;
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  border-radius: 50%;
  /* display: none; */
  /* display 가 완전히 없어졌다가 생기는 걸로 하면 animation효과 적용이 안됨 
  => opacity 주고, 불투명해도 클릭이 되는 걸 막기 */
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  /* display: block; */
  /* mdn pointer events (css 검색할 때 mdn 붙여서 검색) */
  pointer-events: auto;
}

/* ----------------------------------------------- */
/* Media */
/* media query 에는 최소한의 것만 들어가, 차이점만 뽑아진 것만 들어간다.
   toggle-btn 은 media query 가 있든 없든 상관없이 html 에 들어감.
   숨겨주는 로직 결국 위에 들어가야하기 때문에 media query 안에 x */

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  /* navbar */
  .navbar__toggle-btn {
    display: block; /* 블럭으로 해서 보여줌 */
    top: 28px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
  }

  /* 패딩 16 -> 8px 너무 얇아져서 모바일에서도 규칙적으로 유지 */
  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  /* menu 클릭 시 아래로 내려와서 보이도록 */
  .navbar__menu.open {
    display: block;
  }

  /* 모바일처럼 작게해서 볼 때는 padding값 줄여서 
     모바일에서는 16px이 적당하다고 봄! */
  .section {
    padding: 16px;
    padding-top: 40px; /* section 으로 이동할 때 navbar높이만큼 가려지기 때문에 padding 추가 해줌 */
  }

  /* about */
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 38px;
  }

  /* skills */
  .skillset {
    flex-direction: column;
  }

  .category__btn {
    /* padding: 8px; */
    margin: 4px 0;
    width: 100%;
  }

  /* work */
  .project {
    flex-grow: 1; /* 화면이 작아질 때 화면을 알아서 메꿔주도록(여백) */
  }

  /* testimonials */
  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
    /* margin-bottom: 20px; media query가 cascade로 인해 이겨서 (margin: 0) media 에서 설정해줘야함*/
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  /* avatar보다 뒤에 나오도록 */
  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
